header {
    display: none;
}

main {
    top: 0;
    height: 100%;
    max-height: none;
}

main section {
    height: 100%;
    max-height: none;
}

body main section {
    display: none;
}

/* uncss:ignore */
body main section[data-print-subject] {
    display: block;
}
