/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Use the default user interface font in all browsers (opinionated).
 * 3. Correct the line height in all browsers.
 * 4. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 5. Breaks words to prevent overflow in all browsers (opinionated).
 */
html,
body {
    height: 100%;
    margin: 0;
    font-size: 1rem; /* stylelint-disable-line */
    box-sizing: border-box;
    cursor: default; /* 1 */
    font-family:
        system-ui,
        /* macOS 10.11-10.12 */ -apple-system,
        /* Windows 6+ */ Segoe UI,
        /* Android 4+ */ Roboto,
        /* Ubuntu 10.10+ */ Ubuntu,
        /* Gnome 3+ */ Cantarell,
        /* KDE Plasma 5+ */ Noto Sans,
        /* fallback */ sans-serif,
        /* macOS emoji */ "Apple Color Emoji",
        /* Windows emoji */ "Segoe UI Emoji",
        /* Windows emoji */ "Segoe UI Symbol",
        /* Linux emoji */ "Noto Color Emoji"; /* 2 */

    line-height: 1.15; /* 3 */
    -ms-text-size-adjust: 100%; /* 4 */ /* stylelint-disable-line */
    -webkit-text-size-adjust: 100%; /* 4 */ /* stylelint-disable-line */
    text-size-adjust: 100%; /* 4 */ /* stylelint-disable-line */
    -ms-hyphens: auto; /* 5 */ /* stylelint-disable-line */
    -webkit-hyphens: auto; /* 5 */ /* stylelint-disable-line */
    hyphens: auto; /* 5 */ /* stylelint-disable-line */
}

 /* stylelint-disable */
*,
*::before,
*::after {
    /* stylelint-enable */
    box-sizing: inherit;
}

/**
 * 1. Add the correct sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

/* Switch to using rem units for typography. Fix line-height on headlines. */
h1 {
    font-size: 2rem; /* Make all H1 large, remove nested-shrinking sizes. */ /* stylelint-disable-line */
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5rem; /* stylelint-disable-line */
}

h3 {
    font-size: 1.17rem; /* stylelint-disable-line */
}

h4 {
    font-size: 1rem; /* stylelint-disable-line */
}

h5 {
    font-size: 0.83rem; /* stylelint-disable-line */
}

h6 {
    font-size: 0.67rem; /* stylelint-disable-line */
}

h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
}

/* Improve readability */
p,
ul,
ol,
dl,
address {
    line-height: 1.5;
}

/**
 * Remove the gray background on active links in IE 10.
 */
a {
    background-color: transparent;
}

/*
 * 1. Remove the tapping delay in IE 10.
 * 2. Remove the tapping delay on clickable elements
      in all browsers (opinionated).
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
    -ms-touch-action: manipulation; /* 1 */ /* stylelint-disable-line */
    touch-action: manipulation; /* 2 */ /* stylelint-disable-line */
}

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
    display: none;
}

nav {
    display: table;
    table-layout: fixed;
    background-color: #000;
    height: 4rem; /* stylelint-disable-line */
    width: 100%;
    padding: 0 8px;
}

nav h3 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

@supports (display: flex) {
    nav {
        display: flex; /* stylelint-disable-line */
        justify-content: space-around;
    }

    nav h3 {
        display: block;
    }
}

nav a {
    color: #fff;
    text-align: center;
    text-decoration: none;
}

main {
    position: absolute;
    top: 4rem; /* stylelint-disable-line */
    width: 100%;
    padding: 0 8px;
}

main section {
    height: 0;
    width: 100%;
    overflow: auto;
}

/* Show the targeted section */
main section:target { /* stylelint-disable-line */
    height: calc(100vh - 4rem); /* stylelint-disable-line */
}

/* Show the last section by default... */
main section:last-of-type { /* stylelint-disable-line */
    height: calc(100vh - 4rem); /* stylelint-disable-line */
}

/* But hide it once another one is selected */
main section:target ~ section { /* stylelint-disable-line */
    height: 0;
}

main section iframe.section {
    height: calc(100% - 4px); /* stylelint-disable-line */
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

@supports (padding: max(0)) {
    nav,
    main {
        padding-left: max(8px, env(safe-area-inset-left));
        padding-right: max(8px, env(safe-area-inset-right));
    }

    nav {
        padding-top: env(safe-area-inset-top);
    }

    main {
        padding-bottom: env(safe-area-inset-bottom);
    }
}

/**
 * 1. Use the default monospace user interface font
 *    in all browsers (opinionated).
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
    font-family:
        /* macOS 10.10+ */ Menlo,
        /* Windows 6+ */ Consolas,
        /* Android 4+ */ Roboto Mono,
        /* Ubuntu 10.10+ */ Ubuntu Monospace,
        /* KDE Plasma 5+ */ Noto Mono,
        /* KDE Plasma 4+ */ Oxygen Mono,
        /* Linux/OpenOffice fallback */ Liberation Mono,
        /* fallback */ monospace; /* 1 */

    font-size: 1em; /* 2 */
}

/**
 * Add the correct text decoration in Edge, IE, Opera, and Safari.
 */
abbr[title] {
    text-decoration: underline;
    text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
    font-weight: bolder;
}

/**
 * 1. Use the default monospace user interface font
 *    in all browsers (opinionated).
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
    font-family:
        /* macOS 10.10+ */ Menlo,
        /* Windows 6+ */ Consolas,
        /* Android 4+ */ Roboto Mono,
        /* Ubuntu 10.10+ */ Ubuntu Monospace,
        /* KDE Plasma 5+ */ Noto Mono,
        /* KDE Plasma 4+ */ Oxygen Mono,
        /* Linux/OpenOffice fallback */ Liberation Mono,
        /* fallback */ monospace; /* 1 */

    font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
    font-size: 80%;
}

/*
 * Change the display on media elements in all browsers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
    display: block; /* Switch display mode to block, since that's what we usually want for images. */
}

img,
video {
    max-width: 100%; /* Make images and video flexible by default. */
    height: auto; /* Ensure images and video maintain their aspect ratio when max-width comes into play. */
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg:not([fill]) { /* stylelint-disable-line */
    fill: currentColor;
}

/**
 * Collapse border spacing in all browsers (opinionated).
 */
table {
    border-collapse: collapse;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54; /* stylelint-disable-line */
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
[disabled] {
    cursor: not-allowed; /* stylelint-disable-line */
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
[aria-hidden="false"][hidden]:not(:focus) { /* stylelint-disable-line */
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0); /* stylelint-disable-line */
    display: inherit;
    position: absolute;
}

.left {
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
}

.warningMessagePopup {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffbaba;
    color: #d8000c;
    padding: 0 0.5em;
    font-size: 2rem; /* stylelint-disable-line */
    z-index: 1;
}

.warningMessagePopup p {
    margin-top: 0;
    margin-bottom: 0;
}

.mmln-f {
    display: block;
    position: absolute;
    left: -100%;
    height: 0;
    width: 0;
    overflow: hidden;
}

svg image.mml-i {
    display: none;
}

@supports (display: flex) {
    #outdatedMessage {
        display: none;
    }
}
